<template>
  <section id="aboutSection">
    <h3>O mnie</h3>
    <div class="grid">
        <div>
            <h5>TO DO</h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis facilis culpa voluptatem voluptatibus earum optio quae nam, hic a quis, vitae molestiae atque excepturi libero nulla beatae. Tenetur, et quo!
            </p>
        </div>
        <div>
            <h5>TO DO</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores culpa, alias labore maiores, voluptate repudiandae repellat vero dolorum velit animi aut odit id eaque. Mollitia natus provident voluptate voluptatum tempore!</p>
        </div>
        <div>
            <h5>TO DO</h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam blanditiis porro eligendi autem incidunt exercitationem repellendus sapiente aliquid culpa ducimus dolores ut eum, possimus maiores fugiat! Modi, porro? Numquam.
               
            </p>
        </div>
    </div>
  </section>
  
</template>

<script>
export default {

}
</script>

<style lang="css" scoped>

section{
    color: #333333;
    background-color: #D9D9D9;
    padding: 7vh 10%;
}
h3{
    margin-bottom:10vh;
}
h3,h5{
    text-align: center;
    font-weight: 700;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 15%;
}
@media screen and (max-width: 750px){
    .grid{
     display: inline;
    }
    .grid > div{
        padding: 5vh 0;
    }
}
p{
    text-align: justify;
    padding-top: 30px;
}
</style>
    
