<template>
  <nav >
    <b-navbar toggleable="sm" v-bind:type="typeBurger" fixed="top" v-bind:variant="variantNav">
    <b-navbar-brand href="#app"><img :src="require(`@/static/${logoSrc}`)" alt="logo" class="logo"></b-navbar-brand>
    <b-navbar-toggle class="dark" target="nav-collapse"></b-navbar-toggle>
    <b-collapse id="nav-collapse" align="right" is-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item v-bind:class="linkClass" href="#app">Strona główna</b-nav-item>
        <b-nav-item v-bind:class="linkClass" href="#scrollAbout">O mnie</b-nav-item>
        <b-nav-item v-bind:class="linkClass" href="#">Kontakt</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
  </nav>
</template>

<script>


export default {
  name: 'Header',
  data(){
    return{
      variantNav: "faded px-5",
      logoSrc: "logo_white.png",
      linkClass: "link-white",
      typeBurger:"dark"
    }
  },
  methods: {
    handleScroll (event) {
      if(document.body.scrollTop > 100 || document.documentElement.scrollTop > 100){
         this.variantNav = "light px-5",
         this.typeBurger = "light",
         this.logoSrc = "logo.png",
          this.linkClass = "link-black"
        }
        else{
          this.variantNav = "faded px-5",
          this.typeBurger = "dark",
          this.logoSrc = "logo_white.png",
          this.linkClass = "link-white"
        }
    }
  },
  created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  }
}
</script>

<style lang="css" scoped>
.logo{
  width: 120px;
  margin: 0;
}
nav{
  padding: 1px 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
a{
font-weight: 700;
animation-name: fade;
  animation-duration: 0.5s;
}
.link-white > a{
color: #E4E4E4 !important; 

}
.link-black > a{
color:#282828 !important;
}

a:hover{
  color: rgb(94, 94, 94) !important;
}
li{
  margin: 0 5px;
}
@keyframes fade{
  from{opacity: 0;}
  to {opacity: 1;}
}


</style>

