<template>
  <section id="mainSection">
    <div id="background"></div>
    <div id="content">
      <h1>
        Usługi Szkoleniowo - Coachingowe
        <br />Olga Filipek
      </h1>
      <h5>
        Prowadzę szkolenia w firmie telekomunkacyjnej,
        <br />oraz nauczam kompetencji miękkich.
      </h5>
    </div>
    <div id="scrollAbout"></div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="css" scoped>
#mainSection {
  position: relative;
  color: #f2f2f2;
  text-align: center;
  width: 100%;
  height: 100%;
}

#background {
  background: url("../static/u39.png") no-repeat center;
  background-size: cover;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}
#content {
  position: absolute;
  top:50px;
  left: 0;
  right: 0;
  color: #f2f2f2;
  z-index: 1;
  padding: 20vh 0 2% 0;
  animation-name: fade;
  animation-duration: 0.5s;
}
h1{
    padding-bottom: 4vh;
    font-weight: 600;
}
@keyframes fade{
  from{opacity: 0;}
  to {opacity: 1;}
}
#scrollAbout{
  height: 65px;
  margin-top: -65px;
  z-index: -2;
}
</style>
