<template>
  <div id="app">
   <Header />
   <Main />
   <About />
  </div>
  
</template>

<script>
import Header from './components/Header.vue'
import Main from './components/Main.vue'
import About from './components/About.vue'

export default {
  name: 'app',
  components: {
    Header,
    Main,
    About
  }
}
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Noto+Serif&display=swap");
html,body,#app {
  background-color: black;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
    font-family: "Noto Serif", serif;
}
</style>
